In [31]:
import pandas as pd

#import the data.xlsx as a dataframe
df = pd.read_csv("data.csv")

print(df['title'].unique())

['COVID Daily Discussion Thread || Mon 27 December 2021'
 'Child under the age of 10 listed as a Covid death.'
 "International study on Covid - New Zealand, let's share our point of view!"]

In [32]:
# time to look at all the posts and their scores

print(df)

                                                 title  \
0    COVID Daily Discussion Thread || Mon 27 Decemb...
1    COVID Daily Discussion Thread || Mon 27 Decemb...
2    COVID Daily Discussion Thread || Mon 27 Decemb...
3    COVID Daily Discussion Thread || Mon 27 Decemb...
4    COVID Daily Discussion Thread || Mon 27 Decemb...
..                                                 ...
182  International study on Covid - New Zealand, le...
183  International study on Covid - New Zealand, le...
184  International study on Covid - New Zealand, le...
185  International study on Covid - New Zealand, le...
186  International study on Covid - New Zealand, le...

                                                  post  post_score  \
0     Mōrena r/NewZealand.\n\nWelcome to the new an...         7.0
1                                                  NaN         NaN
2                                                  NaN         NaN
3                                                  NaN         NaN
4                                                  NaN         NaN
..                                                 ...         ...
182                                                NaN         NaN
183                                                NaN         NaN
184                                                NaN         NaN
185                                                NaN         NaN
186                                                NaN         NaN

                                               comment  comment_score
0                                                  NaN            NaN
1    I just read a testing facility in NSW told 400...           21.0
2    Wondering how big of an explosion there will b...           12.0
3    I’ve been so busy at work just before the holi...           11.0
4    Barely worth the time to update, but here's to...            9.0
..                                                 ...            ...
182  I get why you think youre right and the other ...            0.0
183  I think it’s more about you having such a stro...           -2.0
184  Read again, cure to stop/minimise hospitalisation            0.0
185                                    Like a vaccine?            3.0
186  Well no for the millions who have died that co...            2.0

[187 rows x 5 columns]

In [33]:
# look at the info
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          187 non-null    object
 1   post           3 non-null      object
 2   post_score     3 non-null      float64
 3   comment        184 non-null    object
 4   comment_score  184 non-null    float64
dtypes: float64(2), object(3)
memory usage: 7.4+ KB
None